.result {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.result__text {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .result {
    flex-direction: column;
    gap: 0.625rem;
  }
}
