.tester {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tester__pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tester__pattern h2 {
  max-width: 31.25rem;
}

.tester__smile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .tester {
    flex-direction: column;
  }
}
